<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Secbench</title>
<meta charset="utf-8">
<meta name="description" content="Study about the performance and coverage of open-source static analysis tools (Infer, find-sec-bugs, symbolic pathfinder, WAP, brakeman, dawnscanner and more) when scanning for real security vulnerabilities mined from source code hosting websites like GitHub and Bitbucket.
">
<meta name="author"      content="Sofia Reis & Rui Maranhão">
    <!-- user-scalable=no does not allow zoom, just allows the user to scroll--->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/style1.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="index.html"><i class="fa fa-flask" aria-hidden="true"></i> SECBENCH</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="benchmark.html"><i class="fa fa-database" aria-hidden="true"></i> Benchmark</a></li>
        <li><a href="results.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Tools</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="intro">
  <div class="title">
    <a href="https://github.com/TQRG/secbench-mining-tool"><h1>SECBENCH <i class="fa fa-github" aria-hidden="true"></i></h1></a>
    <span class="label">#security</span><span class="label">#benchmark</span><span class="label">#staticanalysis</span>
  </div>
</div>


<div id="about">
  <div class="text">
    - Correlation between #commits and #vulns accepted
  </div>
</div>

  <div id="chart0"></div>

  <div id="about">
    <div class="text">
      - Correlation between years of development and #vulns accepted
    </div>
  </div>

    <div id="chart1"></div>



<div class="footer">
  <div class="row">
    <p>
      2017 | FEUP | IST
    </p>
  </div>
</div>


           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

          <script src="static/assets/js/correlation.js"></script>

  </body>
</html>
